@import url(main.css);

#containerFull{
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
}

/* FONT FAMILY JOST */
.jostFont {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100; /* 100 a 900*/
    font-style: normal;
}

/* BARRA ICONOS */
.containerIconos{
    background: var(--black);
    width: 48px;
    height: 100vh;
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 5px 25px var(--azul);
    top: 0px;
    left: 0px;
    z-index: 3002;
}
.containerIconos i:hover{
    color: var(--celesteBajo);
}

.containerIconos div{
    padding: 0px;
    margin: 0px;
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerIconos .fa{
    color: var(--azul);
    font-size: var(--slg);
    margin: 12px 0px;
    cursor: pointer;
}

/* MENU */
._48pixles{
width: 48px;
height: 100vh;
background-color: aqua;
}
.containerMenu{
    width: 500px;
    height: 100vh;
    position: fixed;
    left: 48px;
    background: var(--background-blackBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    z-index: 3001;
    /* position: fixed;
    top: 0px;
    left: 48px; */
}

.containerMenu_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerMenu_logo2{
    width: 90px;
    margin-top: 40px;

}
.containerMenu_imageUser{
    width: 80px;
    margin-top: 16px;
    border: 1px solid var(--white);
    border-radius: 50%;
    box-shadow: 1px 1px 30px 15px var(--blue-claro);
}

.containerMenu_nomUser{
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: var(--xlg);
    font-weight: 800;
    /* font-style: italic; */
    /* letter-spacing: 1px; */
}

.containerMenu_subtitulo{
    font-weight: 400;
    margin-bottom: 0px;
    /* margin-top: 2rem; */
}

.containerMenu_nav ul{
    padding: 0px;
    margin: 0px;
    margin-top: var(--xlg);
}

.containerMenu_nav li{
    list-style: none;
    text-align: center;
    font-size: var(--slg);
    font-weight: 400;
    letter-spacing: 1px;
    width: 300px;
    padding: 15px 0px;
    cursor: pointer;
    border-radius: 30px;
}

.containerMenu_nav li:hover{
    background-color: var(--celesteBajo);
    font-size: var(--sslg);
    box-shadow: 1px 1px 10px 5px var(--blue-claro);
    color: var(--azul-oscuro);
    font-weight: 700;
}

.containerMenu_buttonSession{
    width: 300px;
    margin: 0px 0px 20% 20%;
    font-size: var(--xs);
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--azul);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}
.containerMenu_buttonSession:hover{
    background-color: var(--celeste);
}

/* SECCION PRINCIPAL HOME*/
.containerLista{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.containerLista > section{
    padding: 20px;
}

.containerMenu li,a{
    text-decoration: none;
    font-style: unset;
    list-style: none;
    color: var(--white);
}

.cajaFlex{
    display: flexbox;
    /* flex-wrap: wrap-reverse; */
    margin: 16px;
}

.cajaProjectMargin{
    margin-right: 20px;
    overflow: hidden; /* OCUALTA CONTENIDO SOBRESALIENTE */
}

.cajaStackMargin{
    margin-left: 8px;
}

.container_Photo{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 280px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 8px var(--blue-claro);
}

.container_Photo:hover{
    /* box-shadow: 1px 1px 15px 8px var(--celesteNeon); */
    box-shadow: 1px 1px 30px 8px var(--celesteBajo);
}

.imgWebColagewebColage{
    width: 150%;
    position: relative;
    left: -20%;
    /* bottom: -10%; */
    /* top: 10%; */
}

.containerBoxHome_header{
    padding-right: 30px;
}
.containerBoxHome:hover{
    box-shadow: 10px 10px 50px 10px var(--azul-oscuro);
}

.containerBoxHome_header-textResaltar{
    /* font-weight: 600; */
    color: var(--celesteNeon);
}

.containerBoxHome_header button{
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 10px;
    font-size: var(--slg);
    font-weight: 500;
}

.centerObjetos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLista_tituloBuscar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLista_inputBuscar{
    width: 300px;
    height: 35px;
    padding: 6px 10px;
    background: var(--white);
    color: var(--celeste);
    border-radius: 9px;
    border-color: var(--blue-claro);
    border-style: hidden;
}

.containerLista_title{
    display: inline-block;
    color: #ffffff;
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: var(--xxlg);
    font-weight: 700;
    font-style: normal;
    z-index: 3000;
}

.containerBoxHome_card{
    width: 100%;
    font-size: var(--md);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}



.containerBoxHome_card_Tech_Stack{
    width: 100%;
    font-size: var(--md);
    text-align: left;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.col{
    padding: 0px;
}
.cajaFlex_Project_Tech{
    display: flexbox;
    margin: 16px;
    box-sizing: border-box;
}
.cajaFlex_Stack{
    display: flexbox;
    box-sizing: border-box;
}
.containerBoxHome_card_Stretch{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: stretch; */
    /* align-content: stretch; */
    /* align-items: stretch; */
    /* justify-items: stretch; */
}
.containerBoxHome_teckStack{
    border-radius: 20px;
    border: 3px solid var(--blue-claro);
    padding: 30px;
    background: var(--background-linealBlue);
    width: 100%;
    box-sizing: border-box;
}
.containerBoxHome_teckStack_fondo1{
    border-radius: 20px;
    border: 3px solid var(--blue-claro);
    padding: 30px;
    background: var(--background-linealBlue1);
    width: 100%;
    box-sizing: border-box;
}
.containerBoxHome_teckStack_fondo2{
    border-radius: 20px;
    border: 3px solid var(--blue-claro);
    padding: 30px;
    background: var(--background-linealBlue2);
    width: 100%;
    box-sizing: border-box;
}
.containerBoxHome_teckStack:hover,.containerBoxHome_teckStack_fondo1:hover,.containerBoxHome_teckStack_fondo2:hover{
    box-shadow: 10px 10px 50px 10px var(--azul-oscuro);
    border: 3px solid var(--celesteNeon);
}
.marginContainerTeckStack_card_1{
    /* margin-bottom: 8px; */
    margin: 8px;
}
.marginContainerTeckStack_card_2{
    /* margin-top: 8px; */
    /* margin-right: 8px; */
    margin: 8px;
}
.marginContainerTeckStack_card_3{
    /* margin-top: 8px; */
    /* margin-left: 8px; */
    margin: 8px;
}
.buttonControl{
    margin-right:15px;
    margin-bottom: 15px;
    border-radius: 35px;
    font-size: var(--lg);
    font-weight: 700;
}






.containerLista-head{
    color: var(--azul);
    font-weight: 600;
}

.fa-plus-circle,.fa-trash{
    font-size: var(--slg);
    cursor: pointer;
}

.containerLista_buttonAG{
    width: 280px;
    margin-top: 16px;
    font-size: var(--sm);
    height: 30px;
    border: none;
    border-radius: 9px;
    background: var(--azul);
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}

.containerBoxHome{
    border-radius: 20px;
    border: 3px solid var(--blue-claro);
    padding: 30px;
    background: var(--background-radialBlue);
}

.containerBoxHome:hover{
    border: 3px solid var(--celesteNeon);
}

.containerBoxHome_header > p {
    font-size: var(--slg);
}

.containerLista container,col,row{
    margin: 0;
    padding: 0;
}



/* EXPERIENCE WORK */
.containerBoxExperienceWork{
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerBoxExperienceWork_title{
    font-size: var(--xxlg);
    font-weight: 700;
    font-style: normal;
    padding: 50px 0px;
}
.containerBoxExperienceWork_subtitle{
    font-size: var(-sslg);
    font-weight: 700;
    font-style: normal;
    text-align: left;
}
.line_draw{
    width: 2px;
    height: 290px;
    background-color: var(--charcol-oscuro);
}
.circle_draw{
    width: 10px;
    height: 10px;
    background-color: var(--celesteNeon);
    box-shadow: 1px 1px 40px 8px var(--azul);
    border-radius: 50%;
    position: relative;
    left: -4px;
    top: 20px;
}
.centrarBox{
    display: flex;
    justify-content: center;
}




/* FINISHED PROJECT */
.containerBoxFinishedProject{
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerBoxFinishedProject_title{
    font-size: var(--xxlg);
    font-weight: 700;
    font-style: normal;
    padding: 20px 0px;
}
.containerBoxParrafo{
    font-size: var(--sslg);
    font-weight:400;
}

.card{
    margin: 20px;
    width: 18rem;
    border-radius: 20px;
    padding: 20px;
    color: var(--white);
    width: 20rem;
    background-color: none;
    background  : var(--background-linealBlue3);
    box-sizing: content-box;
    /* border: 3px solid var(--azul-oscuro); */
}
.imgProjecto{
    width: 100%;
    border-radius: 15px;
}
.card:hover{
    box-shadow: 10px 10px 50px 10px var(--azul);
    /* border: 3px solid var(--azul); */
}
.marginCajaGrandeBotton{
    margin-bottom: 100px;
}
.card-title{
    font-size: 2em;
    font-weight: 700;
}
.buttonCardPreject{
    border-radius: 30px;
    font-size: 20px;
}




/* CONTENEDOR LISTA - FOOTER */

.miFooter{
    width: 100%;
    padding-left: 48px;
}

.fondoFooter{
    background: var(--background-linealBlue4);
    color: var(--white);
    padding: 50px;
}
.titleFooter{
    padding-left: 2em;
}
.botonFooter{
    width: 9em;
    height: 2.5em;
    border-radius: 2.5em;
    font-size: 1.8em;
}
.botonFooter:hover{
    width: 10em;
    height: 3em;
    border-radius: 3em;
    font-size: 2em;
    box-shadow: 1px 8px 15px 1px var(--azul-oscuro);
}
.iconosFooter > i,.iconoFoo{
    margin: 10px;
    font-size: 1.3em;
}
.iconosFooter > i:hover,.iconoFoo:hover{
    color: var(--celesteNeon);
    cursor: pointer;
}

/* about me */
.containerAboutMe{
    width: 800px;
    font-size: var(--sslg);
    font-weight: 400;
}
.containerAboutMe p{
    text-align: left;
}
.cajaFoto{
    margin-top: 100px;
    margin-bottom: 30px;
}
.containerAboutMe > h2 {
    margin: 25px;
}
.textoLeftAbout{
    margin-bottom: 60px;
    margin-top: 80px;
}
.parrafoAbout{
    font-size: var(--ssslg);
    font-weight: 300;
}
.about_bottom{
    margin-bottom: 150px;
}

/* css Frontend min-width = desde aqui en adelante 
se aplica los siguientes cambio */
/* @media (min-width: 1000px){

    .containerLista_registros>.containerLista_filaCitas{
        font-size: var(--msm);
    }
    
    .containerLista_filaCitas{
        grid-template-columns: 40px 1fr 1fr 1fr 200px 1fr 1fr 1fr 50px;
    }

} */

/* @media (min-width: 1400px){
    .containerLista_registros{
        font-size: var(--md);
    }
    .containerLista_datos{
        font-size: var(--md);
    }
    .containerLista_politicas,.containerLista_contacto{
        font-size: var(--msm);
        margin-left: 70px;
    }
    
    .containerLista_registros>.containerLista_filaCitas{
        font-size: var(--sm);
    }
} */

/* @media (min-width: 1700px){
    
    .containerLista_filaCitas{
        grid-template-columns: 50px 1fr 1fr 1fr 350px 1fr 1fr 1fr 60px;
    }
    
} */

/* @media (min-width: 1900px){
    
    .containerLista_filaCitas{
        grid-template-columns: 60px 1fr 1fr 1fr 450px 1fr 1fr 1fr 60px;
    }

    .containerLista_registros>.containerLista_filaCitas{
        font-size: var(--md);
    }

} */

/* @media (min-width: 2200px){
    
    .containerLista_filaCitas{
        grid-template-columns: 60px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    }

    .containerLista_registros>.containerLista_filaCitas{
        font-size: var(--md);
    }

} */

/* css Frontend max-width significa HASTA la
medida que le coloques aplicara lo que se especifique */
/* @media (max-width: 1300px){
    .containerLista_title{
        font-size: var(--xlg);
    }

} */